.monaco-workbench .part.titlebar:before {
    content: '';
    background: url(https://i.warosu.org/data/vt/img/0448/58/1678650187304639.gif) no-repeat center center fixed;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-size: cover;
}